h1 {
    color: blue;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color:aqua;
    text-align: center;
}

#top {
    font-family: fantasy;
}

.top {
    text-decoration: underline;
}

img {
    width: 200px;
}

ul {
    text-align: center;

}